<div id="<%= dom_id task %>">
  <div>
    <strong>Title:</strong>
    <%= task.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= task.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= task.status %>
  </div>

  <div>
    <strong>ImageData:</strong>
    <%= image_tag task.image if task.image.attached? %>

    <% if task.image.attached? %>
      <%= link_to "画像をフルサイズで見る", url_for(task.image), target: "_blank" %>
      <%= link_to "ダウンロード", rails_blob_path(task.image, disposition: "attachment") %>
    <% end %>
  </div>
</div>
